<html>
  <head>
    <link href="/stylesheets/app.css" rel="stylesheet">
  </head>
  <body>
    <section>
      <p><%= session&.delete(:message) %></p>

      <%= yield %>
    </section>
  </body>
</html>
