<div>
  <form action="/:username" method="post">
      <label for="name">Name:</label>
      <input name="name" id="name" value="<%= params[:name] %>">
      <label for="phone">Phone number:</label>
      <input type="tel" name="phone" id="phone">
      <p>Format: 123-456-7890 or 1-234-567-8901<p>
      <label for="email">Email:</label>
      <input name="email" id="email">
      <label for="relationship">Relationship:</label>
      <input name="relationship" id="relationship">
      <p>Friend, family, work, etc.</p>
      <button type="submit">Submit</button>
  </form>
</div>
