<form action="/<%= @file_name %>" method="POST">
  <label for="content">Edit content of <%= @file_name %></label>
  <div>
    <textarea rows="20" cols="100" name="content" id="content"><%= @content %></textarea>
  </div>
  <button type="submit">Save Changes</button>
</form>
