body {
  color: #060606;
  display: flex;
  font: normal 16px Helvetica, Arial, sans-serif;
  position: absolute;
  top: 0;
  bottom: 0;
}

body > header {
  box-sizing: border-box;
  background-color: #464f77;
  padding: 15px 0 0 0;
  width: 335px;
}

h1, h2 {
  font-weight: normal;
}

nav,
nav h1,
.active a,
.current-todo + p {
  color: #ffffff;
}

nav a {
  color: #b2b5c3;
  text-decoration: none;
}

h1 {
  font-size: 18px;
}

.todos-list header,
.completed-list header,
nav li {
  display: flex;
  justify-content: space-between;
}

nav li {
  box-sizing: border-box;
  padding: 10px 30px 10px 140px;
}

nav img {
  padding: 0 14px 0 0;
  vertical-align: middle;
}

nav p,
nav h1,
nav h2 {
  display: inline-block;
}

nav p,
.current-todo + p {
  background-color: #6b7292;
  border-radius: 8px;
  padding: 0 4px;
}

.active p,
.current-todo + p {
  background-color: #148fd5;
}

.todos-list header, 
.completed-list header {
  margin: 55px 0 10px 0;
  align-items: center;
  padding: 0 30px 0 100px;
}

.active {
  background-color: #383f5f;
  width: 100%;
}

.completed-list a {
  text-decoration: line-through;
}

main article {
  margin: 13px auto auto 20px;
}

input[type='checkbox'] {
  display: none;
}

.hamburger {
  display: block;
  margin: 0 0 35px 0;
}

.hamburger img {
  width: 27px;
  height: 22px;
}

.current-todo,
.current-todo + p {
  display: inline-block;
}

.add-todo {
  display: block;
}
