<p>Welcome, <%= session[:username] %></p>
<ul>
  <% @decks.each do |id, deck| %>
    <li><%= deck.name %></li>
  <% end %>
</ul>
<a href="/<%= session[:username] %>/decks/new">Create a new deck</a>
<form action="/signout" method="post">
  <button type="submit">Sign out</button>
</form>

