<form action="/<%= session[:username] %>/decks/<%= params[:id] %>/flashcard" method="post">

  <label for="front">Front:</label>
  <div>
    <input name="front" id="front">
  </div>

  <label for="back">Back:</label>
  <div>
    <textarea name="back" id="back" rows="10" cols="60"></textarea>
  </div>
  
  <button type="submit">Create flashcard</button>
  
</form>
