body {
  display: grid;
  grid-template-columns: 15% 1fr 15%;
}

section {
  grid-column: 2;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.item {
  grid-column: 1;
}

.delete {
  grid-column: 2;
  justify-self: right;
}
