<html>
  <head>
    <link href="/app.css" rel="stylesheet">
  </head>
  <body>
    <% if session[:message] %>
      <p class="message"><%= session.delete(:message) %></p>
    <% end %>

    <%= yield %>

  </body>
</html>
