<div>
  <h3>Sign in</h3>
  <form action="/signup" method="post">
    <label for="username">Enter Username:</label>
    <input name="username" id="username" value="<%= params[:username] %>">
    <label for="password">Enter Password:</label>
    <input name="password" id="password" type="password">
    <label for="validatepassword">Re-enter Password:</label>
    <input name="validatepassword" id="validatepassword" type="password">
    <button type="submit">Submit</button>
  </form>
<div>
<div>
  <a href="/">Go back</a>
</div
